*{margin:0;padding:0}
a{text-decoration: none;}
a:hover{text-decoration: none;}
body{font-size: segoe ui;background-image: url(bt2505/2505.jpg);}
.flex{width: 1000px;margin: auto;display:flex;}
.menu{width: 1000px;margin: auto;margin-top:30px;margin-bottom:50px}
.menu .b1{background-color:grey;padding:5px 15px;color:white}
.menu .b1.b2{margin-left: 20px;margin-right: 20px;}
.menu .b1:hover{background-color: rgb(22, 21, 21);color:white;}
.menu .b1.b4{margin-left: 20px;margin-right: 20px;}
.menu .b1.b5{margin-right: 20px;}
.menu .b1.b6{margin-right: 20px;}
.menu .b1.b7{margin-right: 20px;}
.to.anh2{background-image:url(bt2505/bai4.1.jpg)}
.to.anh2 .a1{background-image:url(bt2505/bai4.1.jpg)}
.menu .b1.b7{opacity: 50%;}
/*  */
.to{width:220px;height:220px;;border-radius:50%;position:relative;margin-right: 100px;perspective:500px}
.to .l1{width:220px;height:220px;box-shadow: 0 0 0 20px #1515175c inset;background-image: url(bt2505/bai7.jpg);background-position: center;border-radius:50%;position: absolute;backface-visibility:hidden;transform:rotateX(0deg);transition:0.9s;top:0px;opacity:1;transition-delay:0.1s}
.to .l2{position: absolute;width: 100%;height: 100%;background-color: black;border-radius: 50%;display: flex;justify-content: center;align-items: center;color: white;text-align: center;transform:rotateX(90deg);transition:0.9s;transform-origin:0 100px;backface-visibility:hidden;top:-100px;opacity:0;transition-delay:0.1s}
.to .l2 .khoi{color:white}
.to .l2 .khoi h1{font-size:20px;border-bottom:1px solid white;padding-bottom:20px;margin-bottom:4px}
.to .l2 .khoi i{font-size:13px;}
.to .l2 .khoi .thea{font-size:11px;padding-top:4px}
.to .l2 .khoi .thea a{color:white;font-weight:bold;transition:0.3s}
.to:hover .l1{transform:rotateX(-90deg);top:150px;opacity:0}
.to:hover .l2{transform:rotateX(0deg);top:0px;opacity:1}
.to.anh3 .l1{background-image: url(bt2505/bai7.2.jpg)}