{margin:0;padding:0}
a{text-decoration: none;}
a:hover{text-decoration: none;}
body{font-size: segoe ui;background-image: url(bt2505/2505.jpg)}
/*  */
.bai2{width: 400px;height: 400px;overflow: hidden;border-radius: 50%;transition: 0.5s;box-shadow: 0px 0px 0 30px #f3eeeea1 inset;background-image: url(bt2505/anh3.jpg);background-size:cover;position: relative;}
.bai2.anh2{background-image: url(bt2505/anh4.jpg)}
.bai2 .lop1{position:absolute;box-shadow: 0 0 0 0px #ff00008f inset;border-radius:50%;width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center;color:white;transition:0.6s;opacity:0}
.bai2:hover .lop1{box-shadow: 0 0 0 200px #ff000038 inset;opacity:1}
.bai2 .lop1 .khoi{transform:scale(0.2);transition:0.3s}
.bai2:hover .lop1 .khoi{transform:scale(1)}
.bai2 .lop1 h1{font-weight:bold}
.bai2 .lop1 .vach{border-bottom:1px solid white;width:10px;transition:0.5s;;margin-top:20px;margin-bottom:20px}
.bai2:hover .lop1 .vach{width:280px;}
.bai2 .lop1 p{font-size:18px;margin:0;font-style:italic}
.bai2 .lop1 a{font-size:18px;color:#ffffffba;font-weight:bold;letter-spacing:1px}
.flex{display: flex;justify-content: space-between;width: 1000px;margin:auto}
.menu{width: 1000px;margin: auto;margin-top:30px;margin-bottom:50px}
.menu .b1{background-color:grey;padding:5px 15px;color:white}
.menu .b1.b2{margin-left: 20px;margin-right: 20px;}
.menu .b1:hover{background-color: rgb(22, 21, 21);color:white;}

.menu .b1.b4{margin-left: 20px;margin-right: 20px;}
.menu .b1.b5{margin-right: 20px;}
.menu .b1.b6{margin-right: 20px;}
.menu .b1.b7{margin-right: 20px;}
.to.anh2{background-image:url(bt2505/bai4.1.jpg)}
.to.anh2 .a1{background-image:url(bt2505/bai4.1.jpg)}
.menu .b1.b2{opacity: 50%;}